*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}

body{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
h2{
    animation: myAnim 2s ease 0s 1 normal forwards;
}

.salida{
    text-transform: uppercase;
    width: 30%;
    height: 100px;
    margin: 10px auto;
    border: 1px solid #000;
}


@keyframes myAnim {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}